{% extends "base.html" %}
{% load static %}

{% block title %}Обмін і повернення товару – PFB Typography{% endblock %}

{% block content %}
<section class="container pt-3">
    <div class="row mw-100">
        <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb" class="mb-1">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <i class="bi bi-house-door-fill text-orange me-1"></i>
                    <a href="{% url 'main' %}" class="text-decoration-none text-secondary">PFB Typography</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Обмін і повернення товару</li>
            </ol>
        </nav>

        <h2 class="fw-bold mb-4">Обмін і повернення товару</h2>
    </div>

    <div class="mb-5">
        <p>У PFB Typography ми прагнемо забезпечити високу якість продукції та задоволеність клієнтів. Однак, якщо ви не задоволені замовленням, будь ласка, ознайомтесь з нашою політикою обміну та повернення.</p>

        <h5 class="mt-4">1. Продукція з індивідуальним дизайном</h5>
        <p>Через специфіку поліграфічної продукції з індивідуальним дизайном (візитки, флаєри, брошури тощо), повернення або обмін таких товарів можливе лише у випадку виробничого браку або помилок з нашого боку.</p>

        <h5 class="mt-4">2. Стандартні товари</h5>
        <p>Повернення стандартної продукції можливе протягом <strong>14 календарних днів</strong> з моменту отримання товару, якщо він не використовувався, має оригінальне пакування та не має пошкоджень.</p>

        <h5 class="mt-4">3. Процедура повернення</h5>
        <ul>
            <li>Зв'яжіться з нашою службою підтримки за допомогою <a href="#ContactInfo" class="text-orange text-decoration-none pulseTargetElemOnclick">форми зворотного зв'язку</a> або за телефоном, вказаним на сайті.</li>
            <li>Опишіть проблему та надайте фото (якщо є пошкодження або брак).</li>
            <li>Ми зв’яжемося з вами для уточнення деталей повернення або обміну.</li>
        </ul>

        <h5 class="mt-4">4. Вартість доставки</h5>
        <p>У разі помилки з нашого боку, витрати на пересилання беремо на себе. Якщо повернення ініційовано з інших причин — доставку оплачує клієнт.</p>

        <h5 class="mt-4">5. Відмова у поверненні</h5>
        <p>Ми залишаємо за собою право відмовити у поверненні, якщо товар має сліди використання, пошкодження, або був виготовлений за індивідуальним замовленням без підтвердження браку.</p>
    </div>
</section>
{% endblock %}
